{% extends "template.html" %}

{% block title %}
Verbalyze
{% endblock %}

{% block content %}

<div class="Verbalyze">
	<h1>Verbalyze </h1>
	<h2> :Speech to Text to Summarized PDF:</h2>
	<p> Take notes with your voice, and have the summary converted into a PDF.</p>
	<p> Secure, accurate & super fast.</p>
</div>



<div class="project-grid">
	{% for project in projects %}
		<article class="project-container">
			<h3>{{project.title}}</h3>
			<div class="project-content">
				<div class="image-wrapper">
					<img draggable="false" src="{{project.image}}" alt="">
				</div>
				<a href="{{project.source}}"><div class="link no-decorator">Source</div></a>
			</div>
		</article>
	{% endfor %}
</div>

{% endblock %}