{% extends "template.html" %}

{% block title %}
Login :D
{% endblock %}

{% block content %}
<script>
  function toggleShowPassword(event) {
    const passwordInput = document.getElementById('password')
    const buttonImage = document.querySelector('.show-password > img')
    switch (passwordInput.type) {
      case "text":
        passwordInput.type = "password"
        buttonImage.src = "/show_password.svg"
        break;
        
      case "password":
        passwordInput.type = "text"
        buttonImage.src = "/hide_password.svg"
        break;
    }

    event.preventDefault()
  }
</script>
<div class="form-wrapper">
  <div class="form-box {% if error %}error{% endif %}">
    <h2 class="form-title">Login</h2>
    <form action="" method="post" id="login-form">
      <div class="form-group">
        <label for="username" class="form-label">Username</label>
        <input 
          id="username"
          type="text" 
          name="username"
          placeholder="Username"
          class="form-input"
          value="{{ request.form.username }}""
        />
      </div>

      <div class="form-group">
        <label for="password" class="form-label">Password</label>
        <div class="password-field">
          <input
            id="password"
            type="password"
            name="password"
            placeholder="password"
            class="form-input"
            value="{{ request.form.password }}""
          />
          <div role="button" class="show-password form-input" onclick="toggleShowPassword(event)">
            <img src="/show_password.svg"/>
          </div>
        </div>
      </div>
      <input id="submit-button" type="submit" class="button form-input" value="Login"/>
      <div>Don't have an account? <a href="/register" class="form-link">Register</a></div>
    </form>
    {% if error %}
      <div class="form-error">
        {{ error }}
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}